{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Outcome of the game
{% endblock %}

{% block content %}

    <p>Thank you for your participation!</p>

    <p>You decided to invest {{ risk_choice }} euro in the risk taking game.</p>

    {# {{ var_name }} would give the value of var_name defined in pages.py vars_for_template() #}
    <p>The outcome of the risk taking game is {{ risk_outcome }}.
        Give the outcome, the reward becomes {{ outcome }} euro.
        <a class="noclick" id="id_tooltip" data-toggle="tooltip" data-placement="right"
           title="This is the sum of the amount that you did not invest
and the amount you earned/lost in the investment.">
            ?
        </a>
    </p>

    <button class="otree-btn-next btn btn-primary" id="btn1">Finish</button>

    <script>
        $(document).ready(function() {
            $("body").tooltip({ selector: '[data-toggle=tooltip]' });
        });
    </script>

    <style>
    .noclick {
        border-style: solid;
        border-color: black;
        border-radius: 2px;
        padding: 1px;
        text-decoration: none;
        cursor: pointer;
    }
    </style>

{% endblock %}


